- images.each do |image|
  = link_to(image_path(:id => image.id, :portfolio => portfolio), :title => image.image_title) do
    %img{ :src => Images::ImageService.get_url_from_image(image, 'Small 320'), :alt => image.image_title }
