%table#portfolio-images.table.table-striped.table-bordered.table-condensed.sortable{:data => {:portfolio => params[:portfolio]}}
  %tr
    %th= t('.image')
    %th= t('.title')
  - images.each do |image|
    %tr{:id => image.id}
      %td.image-container
        %img{:src => Images::ImageUrlService.get_url_from_image(image, 'Thumbnail')}
      %td
        = image.image_title
