- if all_tags_with_caches.empty?
  %hr
- else
  %ul.nav.nav-tabs
    %li{:class => params[:action] == 'parameters' ? 'active' : ''}
      = link_to(I18n.t('navigation.admin_tabs.parameters'), parameters_settings_path)
    %li{:class => params[:action] == 'images' ? 'active' : ''}
      = link_to(I18n.t('navigation.admin_tabs.images'), images_settings_path)
