= simple_form_for(Setting.new) do |f|
  .form-inputs
    = f.error_notification
    - %w(flickr_user flickr_api_key flickr_shared_secret page_title page_title_short post_more_separator akismet_key admin_password admin_password_confirmation).each do |key|
      = f.input key, :input_html => { :class => 'input-block-level' }
  .form-actions
    = f.button :submit, :value => I18n.t('links.setting.save')
