<%= simple_form_for Setting.new, :url => update_settings_path do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <% %w(flickr_api_key flickr_shared_secret page_title post_more_separator admin_password admin_password_confirmation).each do |key| %>
      <%= f.input key, input_html: { class: 'input-block-level' } %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :value => I18n.t('links.setting.save') %>
  </div>
<% end %>
