%hr
.blog_post
  .blog_post_content
    = post.content.gsub(Setting.post_more_separator, "<span id=\"more-#{post.id}\"></span>").html_safe

  - if user_signed_in?
    .management_functionality
      %p
        = link_to(I18n.t('links.page.edit'), edit_page_path(:id => post.id))
        = link_to(I18n.t('links.page.destroy'), page_path(:id => post.id), :data => {:confirm => I18n.t('link_confirmations.destroy_post')}, :method => :delete)
