%hr
= simple_form_for(post, :url => post.is_page? ? page_path(:id => post.id) : post_path(:id => post.id)) do |f|
  = render :partial => 'form', :locals => {:f => f}
  .form-actions
    = f.button :submit, I18n.t("buttons.#{post.is_page? ? 'page' : 'post'}.update")
