.management_functionality a {
  font-family: "museo-slab","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
  text-shadow: 2px 1px 1px #cccccc;

  &:before {
    content: '<  ';
  }
  &:after {
    content: '  >';
  }
}

.sortable {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    padding: 0.4em;
    margin: 0 3px 3px 3px;
    vertical-align: middle;

    .image-container {
      text-align: center;
    }
  }
}
