.management_functionality {
  padding-top: 15px;

  a {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 5px;
    margin: 2px;

    font-family: "museo-slab","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;
  }
}

.sortable {
  tr {
    vertical-align: middle;
  }
  .image-container {
    text-align: center;
  }
}
