.post_date, .post_tags {
  font-size: smaller;
  position: relative;
  margin-bottom: 0;
}

.blog_post {
  .pull-left, .pull-right {
    margin-bottom: 10px;
  }
  .pull-left {
    margin-right: 10px;
  }
  .pull-right {
    margin-left: 10px;
  }
  .center-block {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}